# Servidor y API Backend
fastapi
uvicorn[standard]
pydantic[email]
email-validator
python-multipart

# Base de Datos y Persistencia Asíncrona
sqlalchemy
aiosqlite
greenlet

# Seguridad y Criptografía
passlib[bcrypt]
pyjwt

# Interfaz de Usuario y Clientes
streamlit
requests

# Conectividad e Inteligencia Artificial
google-genai